.handsontableEditor.handsontable.listbox {
    z-index: 1000;
}
.handsontableInput { box-sizing: content-box !important; -webkit-box-sizing: content-box !important; }
.handsontable .handsontable table {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.handsontable.handsontableEditor.listbox {
    margin-top: -5px;
    box-shadow: 0 3px 18px 1px #aaa;
}
.handsontable .autocompleteEditor.handsontable.htMacScroll {
    padding-right: 0;
    background: #666;
}
.ht_clone_left .wtHolder { overflow: hidden; }

.handsontable .handsontable.ht_clone_left table {
    -webkit-box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.13);
    box-shadow: 4px 0 3px -2px rgba(0, 0, 0, 0.13);
}

.handsontable .handsontable.ht_clone_top table {
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.16);
}

.ht_clone_corner.handsontable .wtSpreader .htCore {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}