.handsontableEditor.handsontable.listbox {
    z-index: 1000;
}
.handsontableInput { box-sizing: content-box !important; -webkit-box-sizing: content-box !important; }
.handsontable .handsontable table {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.handsontable.handsontableEditor.listbox {
    margin-top: -5px;
    box-shadow: 0 3px 18px 1px #aaa;
}
.handsontable .autocompleteEditor.handsontable.htMacScroll {
    padding-right: 0;
    background: #666;
}
.ht_clone_left .wtHolder { overflow: hidden; }
.handsontable .handsontable:not(.ht_master) table {
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}

.ht_clone_corner.handsontable .wtSpreader .htCore {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}